<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- Meta -->
    <title>Google Search Customizer - Optionen</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="" />
    <meta name="theme-color" content="" />
    <!-- Style -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/app.css" />
    <!-- Script -->
  </head>
  <body>
    <header>
      <h1>Google Search Customizer</h1>
    </header>
    <main>
      <div class="container d-grid p-3" style="grid-template-rows: 1fr auto; height: 100%">
        <section>
          <h2>Allgemein</h2>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="input_isEnabled" />
            <label class="form-check-label" for="input_isEnabled">Google Search Customizer aktivieren</label>
          </div>
        </section>
      </div>
    </main>
    <footer></footer>
    <script src="/public/js/options.js"></script>
  </body>
</html>
